# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
*.orig

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/.generated/
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.modulemap
**/ios/**/Flutter/GeneratedPluginRegistrant.*
**/ios/**/Runner/GeneratedPluginRegistrant.*
**/ios/**/ephemeral/
**/ios/**/Podfile.lock
**/macos/**/Flutter/GeneratedPluginRegistrant.swift
**/macos/**/Flutter/ephemeral/
**/macos/**/Pods/
**/macos/**/Podfile.lock

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/.idea/
/android/local.properties
/android/build/
.android/
android/**/*.gradle
android/**/*.gradle~
android/**/local.properties
android/**/proguard/
android/**/debug/
android/**/profile/
android/**/release/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# Web
web/flutter_service_worker.js

# Environment
.env
.env.local
.env.*.local

# OS specific
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# Release docs
release/